:root {
  --white: #ffffff;
  --gray: #b0b0b0;
  --light-blue: #4483d529;
  --dark-blue: #4483d5ab;
  --font-blue: #4483d5;
  --light-red: #ffc0ef45;
  --dark-red: #d544a3ab;
  --light-green: #eaffdd85;
  --dark-green: #b0dd96c4;
  --font-red: #d544a3;
  --font-purple: #4f40ffc9;
  --dubious-light-green: #b7cc91ad;
  --dubious-dark-green: #436c3b99;
  --not-black: #44230f;
  --green: #e5fbcc;
  --yellow: #f0f2b7f0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f1ff;
}

.popup {
  position: absolute;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 5vh;
  text-align: center;
}

.popup>div {
  border-radius: 5px;
}

.popup h1, .popup h2, .popup h3 {
 margin: 0; 
}

.lobby-games {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.alerts {
  display: flex;
  flex-direction: column;
  height: 4vh;
}

.alerts>.alert {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: verdana, tahoma, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
}

.alerts>.alert.success {
  background-color: rgb(193, 255, 193);
  color: #4f4f4f;
}

.alerts>.alert.error {
  background-color: rgb(255, 137, 137);
  color: #4f4f4f;
}

.alerts>.alert.info {
  background-color: rgb(112, 112, 255);
  color: white;
}

.alerts>.alert.warning {
  background-color: rgb(255, 255, 193);
  color: #4f4f4f;
}

.board .scoring {
 padding:20px; 
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cheatsheet {
 font-size: 1.5vh;
 min-width: 250px;
 border-collapse: collapse;
 background-color: var(--white);
}

.cheatsheet th, .cheatsheet td {
 border: 1px solid var(--gray);
}

.cheatsheet tr {
  height: 3.5vh;
  text-align: center;
}

.score-winner {
 padding: 1vh 0 1vh 0;  
}

.score-group {
  display: flex;
  font-size: 2.25vh; 
  padding: 2vh 0 2vh 0;
  background-color: var(--yellow);
}

.score-group > div {
  padding: 0 2vh 0 2vh;
}

.score-group  table {
  width: 100%;
}

.score-group  table td {
 padding: 5px 10px; 
}
.score-group  table td:nth-child(1) {
  text-align: left;
  font-size: 3vh;
}
.score-group  table td:nth-child(2) {
  text-align: right;
  font-size: 3.25vh;
}

.score-group table td div:nth-child(2) {
  text-align: right;
  font-size: 1.75vh;
}

.board {
  display: flex;
  flex-direction: row;
  height: 96vh;
}

.board>.field {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.board>.deck {
  flex-grow: 2;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board>.field>.hand {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.board>.field>.scores {
  display: flex;
  flex-direction: row;
}

.board>.field>.scores>.score {
  outline: 1px solid var(--gray);
  background-color: var(--white);
  height: 3vh;
  width: 7.5vh;
  border-radius: 0.25vh;
  margin: 4px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25vh;
  font-family: arial;
}

.board>.field>.scores.general>.score {
  justify-content: space-between;
}

.board>.field>.scores>.score.player-1 {
  outline: 3px solid var(--dark-blue);
  color: var(--font-blue);
}

.board>.field>.scores>.score.player-2 {
  outline: 3px solid var(--dark-red);
  color: var(--font-red);
}

.board>.field>.scores>.score>.formation {
  color: #4d8848;
}

.board>.field>.scores>.score>.flank {
  color: var(--font-purple);
}

.board>.field>.flags {
  display: flex;
  flex-direction: row;
}

.board>.field>.flags>.flag {
  outline: 1px solid black;
  height: 4vh;
  width: 7.5vh;
  border-radius: 0.25vh;
  margin: 4px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

.board>.field>.battleline {
  display: flex;
  flex-direction: row;
  flex-grow: 6;
  justify-content: center;
  align-items: center;
}

.board>.deck>.draw-pile {
  position: relative;
  height: 10.5vh;
  width: 7.5vh;
  margin: 1vh;
}


.board>.field>.slots {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.board>.field>.slots .slot {
  position: relative;
  background-color: var(--light-green);
  outline-color: var(--dark-green);
  outline-style: solid;
  outline-width: 2px;
  height: 220px;
  width: 7.5vh;
  border-radius: 0.25vh;
  margin: 4px;
  padding: 5px;
}

.slot>.card.front {
  position: absolute;
}

.player-2.slot>.card:nth-child(1) {
  bottom: 5px;
}

.player-2.slot>.card:nth-child(2) {
  bottom: 48px;
}

.player-2.slot>.card:nth-child(3) {
  bottom: 91px;
}

.player-1.slot>.card:nth-child(1) {
  top: 5px;
}

.player-1.slot>.card:nth-child(2) {
  top: 48px;
}

.player-1.slot>.card:nth-child(3) {
  top: 91px;
}

.card {
  outline: 1px solid black;
  /* standard size card 3.5in by 2.5in */
  height: 10.5vh;
  width: 7.5vh;
  border-radius: 0.75vh;
  margin: 0px;
  padding: 0px;
}

.red {
  color: #b01818;
}

.blue {
  color: #0072aa;
}

.green {
  color: #4d8848
}

.purple {
  color: #9c5aa2;
}

.card.front {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
}

.card.front p {
  text-align: center;
  margin: 0;
}

.card.front .graphic {
  font-size: 3em;
  margin: 0;
  display: flex;
  align-items: center;
}

.card.front .upper-left {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0.25em;
  font-size: 1em;
}

.card.front .bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0.25em;
  font-size: 1em;
}
.draw-pile .card {
  position: absolute;
  margin: 0px;
}

.draw-pile .card:nth-child(1) {
  bottom: 0px;
  right: 0px;
}

.draw-pile .card:nth-child(2) {
  bottom: 2px;
  right: 2px;
}

.draw-pile .card:nth-child(3) {
  bottom: 4px;
  right: 4px;
}

.draw-pile .card:nth-child(4) {
  bottom: 6px;
  right: 6px;
}

.draw-pile .card:nth-child(5) {
  bottom: 8px;
  right: 8px;
}

.draw-pile .card:nth-child(6) {
  bottom: 10px;
  right: 10px;
}

.draw-pile .card:nth-child(7) {
  bottom: 12px;
  right: 12px;
}

.draw-pile .card:nth-child(8) {
  bottom: 14px;
  right: 14px;
}

.draw-pile .card:nth-child(9) {
  bottom: 16px;
  right: 16px;
}

.draw-pile .card:nth-child(10) {
  bottom: 18px;
  right: 18px;
}

.draw-pile .card:nth-child(11) {
  bottom: 20px;
  right: 20px;
}

.draw-pile .card:nth-child(12) {
  bottom: 22px;
  right: 22px;
}

.draw-pile .card:nth-child(13) {
  bottom: 24px;
  right: 24px;
}

.battleline .card {
  margin: 6px;
}

/* took inspiration from https://codepen.io/apo11oCreed/pen/WNEgJE */
/* and https://gleam.run easter egg :sparkles: */
.sparkle {
  outline: 1px solid #d070b8;
  color: var(--not-black);
  background:
    repeating-linear-gradient(
      40deg,
      #ffd596 1em,
      #ffd596 2em,
      #fdffab 2em,
      #fdffab 3em,
      #c8ffa7 3em,
      #c8ffa7 4em,
      #9ce7ff 4em,
      #9ce7ff 5em,
      #dcd2fb 5em,
      #dcd2fb 6em
    ),
    repeating-linear-gradient(
      -75deg,
      #ffd596 1em,
      #ffd596 2em,
      #fdffab 2em,
      #fdffab 3em,
      #c8ffa7 3em,
      #c8ffa7 4em,
      #9ce7ff 4em,
      #9ce7ff 5em,
      #dcd2fb 5em,
      #dcd2fb 6em
    );
    
  background-blend-mode: multiply;
}
