.lobby-games {
  list-style: none;
}

/* This is what makes the click through elements work */

div[data-event]>* {
  pointer-events: none;
}

div[data-event="popup-toggle"] {
  position: absolute;
  width: 100vh;
  height: 100vh;
  top: 0;
}

/* Page level styles */

:root {
  --white: #ffffff;
  --gray: #b0b0b0;
  --light-blue: #4483d529;
  --dark-blue: #4483d5ab;
  --font-blue: #4483d5;
  --light-red: #ffc0ef45;
  --dark-red: #d544a3ab;
  --light-green: #eaffdd85;
  --dark-green: #b0dd96c4;
  --font-red: #d544a3;
  --font-purple: #4f40ffc9;
  --dubious-light-green: #b7cc91ad;
  --dubious-dark-green: #436c3b99;
  --not-black: #44230f;
  --green: #e5fbcc;
  --yellow: #f0f2b7f0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f1ff;
}

/* Layout and sections */

.player-info {
  display: flex;
  flex-direction: row;
  background-color: var(--gray);
  font-family: sans-serif;
  height: 10vh;
}

.player-info .player {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  flex: 1;
}

.player-info .status {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.player-info .status .action {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: #6588ba;
  font-size: 3.2vh;
  flex: 1 1;
}

.player-info .status .alert {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  flex: 1 1;
}

.board {
  height: 90vh;
}

.popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  font-size: 5vh;
  text-align: center;
}

.popup>div {
  border-radius: 0.5vh;
}

.popup h1,
.popup h2,
.popup h3 {
  margin: 0;
}

.alert.green {
  background-color: rgb(193, 255, 193);
  color: #4f4f4f;
}

.alert.red {
  background-color: rgb(255, 137, 137);
  color: #4f4f4f;
}

.alert.purple {
  background-color: rgb(112, 112, 255);
  color: white;
}

.alert.yellow {
  background-color: rgb(255, 255, 193);
  color: #4f4f4f;
}

.cheatsheet {
  font-size: 1.5vh;
  width: 25vh;
  border-collapse: collapse;
  background-color: var(--white);
}

.cheatsheet th,
.cheatsheet td {
  border: 0.1vh solid var(--gray);
}

.cheatsheet tr {
  height: 3.5vh;
  text-align: center;
}

.score-winner {
  padding: 1vh 0 1vh 0;
}

.score-group {
  display: flex;
  font-size: 2.25vh;
  padding: 2vh 0 2vh 0;
  background-color: var(--yellow);
}

.score-group>div {
  padding: 0 2vh 0 2vh;
}


.score-group table td {
  padding: 0.5vh 1.0vh;
}

.score-group table td:nth-child(1) {
  text-align: left;
  font-size: 3vh;
}

.score-group table td:nth-child(2) {
  text-align: right;
  font-size: 3.25vh;
}

.score-group table td div:nth-child(2) {
  text-align: right;
  font-size: 1.75vh;
}

.scores {
  display: flex;
  flex-direction: row;
}

.scores>.score {
  outline: 0.1vh solid var(--gray);
  background-color: var(--white);
  height: 2vh;
  width: 7.5vh;

  border-radius: 0.25vh;
  margin: 0.32vh;
  padding: 0.4vh;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25vh;
  font-family: arial;
}

.scores.general>.score {
  justify-content: space-between;
}

.scores.totals>.score.player-1 {
  outline: 0.3vh solid var(--dark-blue);
}

.scores.totals>.score.player-2 {
  outline: 0.3vh solid var(--dark-red);
}

.scores>.score.player-1 {
  color: var(--font-blue);
}

.scores>.score.player-2 {
  color: var(--font-red);
}

.scores>.score>.formation {
  color: #4d8848;
}

.scores>.score>.flank {
  color: var(--font-purple);
}


.slots {
  display: flex;
  flex-direction: row;
}

.slots .slot {
  position: relative;
  background-color: var(--light-green);
  outline-color: var(--dark-green);
  outline-style: solid;
  outline-width: 0.2vh;
  height: 18.25vh;
  width: 7.5vh;

  border-radius: 0.25vh;
  margin: 0.32vh;
  padding: 0.4vh;
}

/* Individual Elements */

.draw-pile {
  position: relative;
  height: 10.5vh;
  width: 7.5vh;
}

.slot>.card.front {
  position: absolute;
}

.player-2.slot>.card:nth-child(1) {
  bottom: 0.5vh;
}

.player-2.slot>.card:nth-child(2) {
  bottom: 4.3vh;
}

.player-2.slot>.card:nth-child(3) {
  bottom: 8.1vh;
}

.player-1.slot>.card:nth-child(1) {
  top: 0.5vh;
}

.player-1.slot>.card:nth-child(2) {
  top: 4.3vh;
}

.player-1.slot>.card:nth-child(3) {
  top: 8.1vh;
}

.card {
  outline: 0.1vh solid black;
  /* standard size card 3.5in by 2.5in */
  height: 10.5vh;
  width: 7.5vh;
  border-radius: 0.75vh;
}

.red {
  color: #b01818;
}

.blue {
  color: #0072aa;
}

.green {
  color: #4d8848
}

.purple {
  color: #9c5aa2;
}

.card.front {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.card.front p {
  text-align: center;
  margin: 0;
}

.card.front .graphic {
  font-size: 4.5vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.card.front .corner {
  margin: 0.25em;
  font-size: 1.5vh;
  display: flex;
}

.card.front .corner.upper-left {
  flex-direction: column;
}

.card.front .bottom-right {
  flex-direction: column-reverse;
}

.draw-pile .card {
  position: absolute;
  margin: 0vh;
}

.draw-pile .card:nth-child(1) {
  bottom: 0vh;
  right: 0vh;
}

.draw-pile .card:nth-child(2) {
  bottom: 0.15vh;
  right: 0.15vh;
}

.draw-pile .card:nth-child(3) {
  bottom: 0.3vh;
  right: 0.3vh;
}

.draw-pile .card:nth-child(4) {
  bottom: 0.45vh;
  right: 0.45vh;
}

.draw-pile .card:nth-child(5) {
  bottom: 0.6vh;
  right: 0.6vh;
}

.draw-pile .card:nth-child(6) {
  bottom: 0.75vh;
  right: 0.75vh;
}

.draw-pile .card:nth-child(7) {
  bottom: 0.9vh;
  right: 0.9vh;
}

.draw-pile .card:nth-child(8) {
  bottom: 1.05vh;
  right: 1.05vh;
}

.draw-pile .card:nth-child(9) {
  bottom: 1.20vh;
  right: 1.20vh;
}

.draw-pile .card:nth-child(10) {
  bottom: 1.35vh;
  right: 1.35vh;
}

.draw-pile .card:nth-child(11) {
  bottom: 1.50vh;
  right: 1.50vh;
}

.draw-pile .card:nth-child(12) {
  bottom: 1.65vh;
  right: 1.65vh;
}

.draw-pile .card:nth-child(13) {
  bottom: 1.8vh;
  right: 1.8vh;
}

/* took inspiration from https://codepen.io/apo11oCreed/pen/WNEgJE */
/* and https://gleam.run easter egg :sparkles: */
.sparkle {
  outline: 0.1vh solid #d070b8;
  color: var(--not-black);
  background:
    repeating-linear-gradient(40deg,
      #ffd596 1em,
      #ffd596 2em,
      #fdffab 2em,
      #fdffab 3em,
      #c8ffa7 3em,
      #c8ffa7 4em,
      #9ce7ff 4em,
      #9ce7ff 5em,
      #dcd2fb 5em,
      #dcd2fb 6em),
    repeating-linear-gradient(-75deg,
      #ffd596 1em,
      #ffd596 2em,
      #fdffab 2em,
      #fdffab 3em,
      #c8ffa7 3em,
      #c8ffa7 4em,
      #9ce7ff 4em,
      #9ce7ff 5em,
      #dcd2fb 5em,
      #dcd2fb 6em);

  background-blend-mode: multiply;
}


/* Try this */
.row {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: row;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.s1 {
  flex: 1 1;
}

.s2 {
  flex: 2 2;
}

.s3 {
  flex: 3 3;
}

.s4 {
  flex: 4 4;
}

.s5 {
  flex: 5 5;
}

.s6 {
  flex: 6 6;
}

.s7 {
  flex: 7 7;
}

.s8 {
  flex: 8 8;
}

.s9 {
  flex: 9 9;
}

.s10 {
  flex: 10 10;
}

.s11 {
  flex: 11 11;
}

.s12 {
  flex: 12 12;
}